

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 28rem;
    background-color:rgb(214, 218, 220);
    padding: 2rem;
    width: 35% !important;
    

}


.grid-container {
    display: grid;
    justify-self: center;
    background-color: aliceblue;
    padding: 1rem;
    
}

.display-flex {
    display: grid;
    
}

.display-flex2 {
    display: grid;
    margin-bottom: 1rem;
    
    
}

.centrado {
    text-align: center;
    margin-top: 2rem;
    font-size: x-large;
    font-weight: 500;

}